*pycache*
docs/source/user_guide/examples/*.py
.cache/*
.idea/*
build/*
dist/*
docs/build/*
docs/source/generated/*
*.egg-info
*.log
*.ipynb_checkpoints*
venv/Lib/site-packages/arff/__init__.py
venv/Lib/site-packages/easy-install.pth
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/EGG-INFO/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/
venv/Lib/site-packages/setuptools-40.8.0-py3.8.egg
venv/Lib/site-packages/setuptools.pth
venv/pyvenv.cfg
venv/Scripts/activate
venv/Scripts/activate.bat
venv/Scripts/Activate.ps1
venv/Scripts/deactivate.bat
venv/Scripts/easy_install-3.8-script.py
venv/Scripts/easy_install-script.py
venv/Scripts/pip-script.py
venv/Scripts/pip3-script.py
venv/Scripts/pip3.8-script.py
